{% if page.comment %}<script src="https://giscus.app/client.js"
        data-repo="1f616neko/blog"
        data-repo-id="R_kgDOIjZLjA"
        data-category="Giscus"
        data-category-id="DIC_kwDOIjZLjM4CS5hy"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>{% endif %}