{% include header.html %}
<div class="container">
	<div class="profile" noprint>
		<a href="{{ site.url }}"><img src="{{site.author.picture}}" class="profile-image"></a>
		<div class="profile-about">
			<h2 style="margin-bottom: 0; font-weight: 700;">{{site.author.name}}</h2>
			{% if site.author.facebook %}
				<a href="https://facebook.com/{{site.author.facebook}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/facebook.svg" class="social-icon"></a>
			{% endif %}
			{% if site.author.twitter %}
				<a href="https://twitter.com/{{site.author.twitter}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/twitter.svg" class="social-icon"></a>
			{% endif %}
			{% if site.author.instagram %}
				<a href="https://instagram.com/{{site.author.instagram}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/instagram.svg" class="social-icon"></a>
			{% endif %}
			{% if site.author.youtube %}
				<a href="{{site.author.youtube}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/youtube.svg" class="social-icon"></a>
			{% endif %}
			{% if site.author.telegram %}
				<a href="https://t.me/{{site.author.telegram}}" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Font_Awesome_5_brands_telegram.svg" class="social-icon"></a>
			{% endif %}
			{% if site.author.github %}
				<a href="https://github.com/{{site.author.github}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/github.svg" class="social-icon"></a>
			{% endif %}
			{% if site.author.linkedin %}
				<a href="https://linkedin.com/in/{{site.author.linkedin}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/linkedin.svg" class="social-icon"></a>
			{% endif %}
			<a href="{{ site.url }}/about"><img src="{{ site.url }}/assets/images/icon/me.svg" class="social-icon"></a>
			<br>
			{{ site.author.bio }}
			<br>
			<div class="mode" id="mode-switcher" onclick="toggleNightMode();">
				<span></span>
			</div>
		</div>
	</div>
	{{ content }}
	<div class="footer">
		<span>可愛EMO醬的可愛文章！</span>
		<span>本站的全部文字在<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">共享創意 姓名標示-相同方式分享 3.0協議</a>之條款下提供。</span>
		<span>使用<a href="https://github.com/onepase/Ephesus">Ephesus</a>主題，相關檔案在<a href="https://github.com/onepase/Ephesus/blob/master/_config.yml" lang="en">MIT License</a>之條款下提供。</span>
		<!--<span><a href="https://icp.gov.moe/?keyword=20225004" target="_blank">萌ICP备20225004号</a></span>-->
	</div>
	<!--<div class="buildid" style="float:right;font-size:0.7em;font-family:monospace" lang="en">Build ID: <a href="https://github.com/1f616neko/blog/commit/{{ site.github.build_revision }}">{{ site.github.build_revision }}</a></div>-->
</div>
{% include footer.html %}